/* ======
BOX RESET 
========= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============
DESIGN TOKENS ↓
=============== */
:root {
  /* COLOR PALETTE */
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray950: hsl(0, 0%, 7%);
  --clr-gray500: hsl(0, 0%, 42%);
  --clr-blue-attribution: hsl(228, 45%, 44%);

  /* FONT FAMILIES */
  --ff-general: "Figtree", sans-serif;

  /* FONT SIZES */
  --fs-attribution: 0.6875rem;
  --fs-big: 1.5rem;
  --fs-medium: 1rem;
  --fs-small: 0.875rem;

  /* FONT WEIGHTS */
  --fw-bold: 800;
  --fw-regular: 500;

  /* LINE HEIGHT */
  --lh-general: 1.5;

  /* SPACING */
  --sp-50: 0.25rem;
  --sp-100: 0.5rem;
  --sp-150: 0.75rem;
  --sp-300: 1.5rem;

  /* CARD WIDTH */
  --crd-width: 24rem;

  /* BORDER RADIUS */
  --br-big: 1.25rem;
  --br-small: 0.625rem;

  /* BORDER */
  --bd-general: 1px solid var(--clr-gray500);

  /* BOX SHADOW */
  --bs-general: 0.5rem 0.5rem var(--clr-gray950);
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-Medium.ttf);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

/* ============
DESIGN TOKENS ↑
=============== */

/* ================
BLOG ENTRY DESIGN ↓
=================== */
.attribution {
  font-size: var(--fs-attribution);
  text-align: center;
}

.attribution a {
  color: var(--clr-blue-attribution);
}

body {
  background-color: var(--clr-yellow);
  font-family: var(--ff-general);
  line-height: var(--lh-general);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  margin: auto 0;
}

.blog-card {
  width: var(--crd-width);
  background-color: var(--clr-white);
  padding: var(--sp-300);
  border-radius: var(--br-big);
  border: var(--bd-general);
  box-shadow: var(--bs-general);
}

.blog-card__illustration {
  width: 100%;
  display: block; /* eliminates descenders space */
  height: auto;
  border-radius: var(--br-small);
}

/* ================
BLOG ENTRY DESIGN ↑
=================== */
